$page-color: rgb(34, 40, 75);

// calculator styling colors
$calculator-color: rgb(42, 58, 104);
$display-color: #ccc;

// calculator buttons colors
$calculator-btn-numbers-color: rgb(31, 29, 60); // buttons that contain numbers
$calculator-btn-actions-color: rgb(215, 126, 48); // buttons that perform actions (DEL - AC) 
$calculator-btn-operators-color: rgb(37, 40, 78); // buttons that contain operator or parenthesis
